:root{
    --bg-color: #333;
    --color-one: #303030;
    --color-two: #424242;

    --text-color: #508C9B;

}

*{
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body{

    background-color: var(--bg-color);
    margin: 2rem;
    font-family: 'Open Sans', sans-serif;

}

h1{

    font-size: 3.5rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    cursor: default;

}

main{
    max-width: 50%;
    height: 100%;
    margin: 1rem auto;
    font-family: sans-serif;
}

input{
    margin: 0 0.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 55%;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;

}

button{
    border: 1px solid #333;
    border-radius: 5px;
    height: 3.3rem;
    width: 17%;
    background-color: var(--color-two);
    cursor: pointer;
    transition: 0.4s;
    font-size: 1.1rem;
    margin: 0 0.2rem;
}

button:hover{
    background-color: #575656;
}

ul{
    list-style: none;
}

li{
    margin-top: 0.5rem;
    padding: 0.8rem;
    background-color: var(--color-two);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    cursor: default;

}

span{
    cursor: pointer;
    margin: 0 1%;
}

.pomodoroTimer{
    margin-top: 0.5rem;
    display: none;
}

.timer{
    background-color: var(--color-two);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.time{
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 4rem;
}

.time p:nth-last-of-type(2){
    position: relative;
    top: -0.3rem;
}

.controls{
    position: absolute;
    left: 27.5%;
    margin: 0;
}

.controls button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.controls #reset{
    display: none;
}

@media(max-width: 768px){

    body{
        max-width: 100%;
    }

    h1{
        font-size: 2.8rem;
        text-align: center;
    }

    .Add_task{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }

    input{
        margin: 1.5px;
    }

    button{
        font-size: 1rem;
        font-weight: bold;
        border: none;
        margin-left: 5%;
    }
    li{
        width: 100%;
    }
    #PomodoroShow{
        display: none;
    }
}

@media(max-width: 1024px){

    body{
        max-width: 75%;
    }

    h1{
        font-size: 3rem;
        text-align: center;
    }

    input{
        width: 77%;
    }

    button{
        width: 15%;
        font-size: 1.2rem;
    }
}